<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),
            class: "form-signup") do |f| %>
  <%= devise_error_messages! %>
  <%= f.email_field :email, autofocus: true, class:"input-block-level",
    placeholder: "Email address" %>
  <%= f.password_field :password, class: "input-block-level", placeholder: "Password" %>
  <%= f.password_field :password_confirmation, class: "input-block-level",
    placeholder: "Password confirmation" %>
  <%= f.submit "Sign up", class: "btwn btn-large btn-primary" %>
<% end %>

<%= render "devise/shared/links" %>
